


.sapUiContentPadding{
    margin-right: 80px;
    background-color:#fcf4f4;
    height: 100px;
    box-shadow: 20px;
    padding-right: 200px;
    padding-top: 70px;
    padding-left: 200px;
    padding-bottom:70px ;
}

.a{
    padding-top: 20px;
    padding-bottom: 30px;
}
.b
{
    padding-left: 50px;
}





